<h1>PROJECT 1<h1>
<h2>analisis measure of variability</h2>

In [13]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [19]:
data=pd.DataFrame([100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65],
                columns=["Transactions Amount"])

In [21]:
len(data)

25

In [23]:
data

    Transactions Amount
0                   100
1                   150
2                    50
3                   100
4                   130
5                   120
6                   100
7                    85
8                    70
9                   150
10                  150
11                  120
12                   50
13                  100
14                  100
15                  140
16                   90
17                  150
18                   50
19                   90
20                  120
21                  100
22                  110
23                   75
24                   65

In [25]:
data.describe()

       Transactions Amount
count            25.000000
mean            102.600000
std              31.823733
min              50.000000
25%              85.000000
50%             100.000000
75%             120.000000
max             150.000000

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transactions Amount  25 non-null     int64
dtypes: int64(1)
memory usage: 332.0 bytes

In [29]:
data.shape

(25, 1)

<h2>analisis measure of central tendency<h2>

In [31]:
data.mean()

Transactions Amount    102.6
dtype: float64

In [33]:
data.median()

Transactions Amount    100.0
dtype: float64

In [35]:
data.mode()

   Transactions Amount
0                  100

<h2>analisis measure of variability<h2>

In [37]:
range_value = data.max() - data.min()
range_value

Transactions Amount    100
dtype: int64

In [39]:
variance_value=data.var
variance_value

<bound method DataFrame.var of     Transactions Amount
0                   100
1                   150
2                    50
3                   100
4                   130
5                   120
6                   100
7                    85
8                    70
9                   150
10                  150
11                  120
12                   50
13                  100
14                  100
15                  140
16                   90
17                  150
18                   50
19                   90
20                  120
21                  100
22                  110
23                   75
24                   65>

In [41]:
std_dev_value = data.std()
std_dev_value

Transactions Amount    31.823733
dtype: float64

<h3>h0=penjualan rata-rata yaitu $100 per transaksi</h3> 
<h3>h1=penjualan rata-rata yaitu meningkat</h3>

In [52]:
#define alpha=0.05
#pop mean= rata rata
stats.ttest_1samp(a=data, popmean=100)

TtestResult(statistic=array([0.40850016]), pvalue=array([0.68652848]), df=array([24]))

In [58]:
stats.t.ppf(1-0.5, 24)

6.707476314827955e-17

<h3>gagal atau penjualan rata rata tetap $100</h3>